/************************/
/* Milligram overrides */
//$color-initial: #fff !default
$color-primary: #0093ff !default;
$color-secondary: #2ca5ff !default;
//$color-tertiary: #f4f5f6 !default;
//$color-quaternary: #d1d1d1 !default;
//$color-quinary: #e1e1e1 !default;
/************************/
$page-font: 'Avenir', Helvetica, Arial, sans-serif;
$page-font-color: #333;