@import 'variables';
@import '../../node_modules/milligram/src/milligram';

html, body {
    height: 100%;
}

body {
    font-family: $page-font;
    color: $page-font-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    margin: 0;
}